
@font-face {
  font-family: 'Apple';
  src: url('Apple.eot?#iefix') format('embedded-opentype'),  url('Apple.woff') format('woff'), url('Apple.ttf')  format('truetype'), url('Apple.svg#Apple') format('svg');
  font-weight: normal;
  font-style: normal;
}
